{% extends "layout.html"%}
{% block title %}
Lung Cancer Detection
{% endblock %}

{% block content %}


<head>
    <title>Deep Learning Model For Predicting Lung Cancer</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>


<div class="container">
    <h1>Deep Learning Model For Predicting Lung Cancer</h1>
    <form action="{{ url_for('predict_image_file') }}" enctype="multipart/form-data" method="POST">
        <div class="image-preview">
            <img id="previewImage" src="#" alt="Preview">
        </div>
        <div class="file-input">
            <input type="file" id="upload" name="file" accept="image/*">
        </div>
        <button type="submit" id="imageResult" name="imageResult">Upload</button>
    </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>


<h6>powered by</h6>
<footer class="footerr">
    <h3>VitalCare+</h3>
</footer>







{% endblock %}
